.vscode
build
install
log

*.gv
*.pdf

HELPME.md

# 导入离线模型
src/gtrl_ros2/models


# 忽略__pycache__
__pycache__/
*.py[cod]
*$py.class

# 忽略SAC训练过程中保存的奖励数据文件
src/gtrl_ros2/gtrl_ros2/SAC/final_curves/
src/gtrl_ros2/gtrl_ros2/SAC/final_models/

# 专家演示数据
src/gtrl_ros2/gtrl_ros2/DIL/Data/