<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scout" >

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find gtrl_ros2)/urdf/xacro/bringup/materials.xacro" />

  <xacro:include filename="$(find gtrl_ros2)/urdf/xacro/robot/scout/scout_mini.xacro"/>

  <!-- Laser -->
  <xacro:include filename="$(find gtrl_ros2)/urdf/xacro/laser/hokuyo.xacro"/>
  <!-- 修改了激光雷达的位置 -->
  <xacro:laser name="front_laser" parent="base_link" xyz="0 0 0.40" rpy="0 0 0" meshes="package://gtrl_ros2/meshes/laser"/>

  <xacro:include filename="$(find gtrl_ros2)/urdf/xacro/camera/cameraD.xacro"/>
  <xacro:camD name="cameraD" parent="base_link" xyz="0.21 0 0.075" rpy="0 0 0" />

  <!-- FishEye Camera -->
  <xacro:include filename="$(find gtrl_ros2)/urdf/xacro/camera/cameraFisheye.xacro"/>
  <xacro:camF name="cameraFishEye" parent="base_link" xyz="0.21 0 0.5" rpy="0 0 0" />

</robot>
